In [3]:
import pandas as pd

In [4]:
# read csv 
lego_sets_df = pd.read_csv("./datasets/lego_sets.csv")
parent_theme_df = pd.read_csv("./datasets/parent_themes.csv")

In [5]:
# merge dataframe and drop name_y cuz is as same as parent theme
merge_df = lego_sets_df.merge(parent_theme_df , left_on='parent_theme' , right_on='name')
merge_df.drop(columns='name_y' , inplace=True)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [50]:
# Task 1 : What is the most popular licensed sets ever were Star Wars Themed (Fiexd)
is_licensed_df = merge_df[merge_df['is_licensed']==True]
is_licensed_df = is_licensed_df.dropna(subset=['set_num'])
is_licensed_Starwar_df = is_licensed_df[is_licensed_df['parent_theme'] == 'Star Wars']

the_force =int(is_licensed_Starwar_df.shape[0] / is_licensed_df.shape[0]  * 100)

In [57]:
is_licensed_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [73]:
# Task 2 : In which year was Star Wars not the most popular licensed theme ? 

licensed_sorted = is_licensed_df.sort_values('year')
licensed_sorted['count'] = 1

df_groupby = licensed_sorted.groupby(['year','parent_theme']).sum().reset_index()
df_groupby = df_groupby.sort_values('year')
df_groupby = df_groupby.sort_values('is_licensed',ascending=False).drop_duplicates(['year'])
df_groupby.sort_values('year',inplace=True)
df_groupby

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72